---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/subscriptions/checkout/469ec72f34e3d427f782496452ceae25
    body:
      encoding: UTF-8
      string: '{"subscription":{"customer":{"type":"Person","name":"Consumidor 8","email":"consumidor_8@teste.com","document":"162.558.592-66","address_information":{"address":"Avenida
        Brigadeiro Luís Antônio","number":"12","complement":"apto. 111","zipcode":"01402000","district":"Jardim
        Paulista","city":"São Paulo","state":"SP"}},"payment_information":{"type":"payment_gateway","card_brand":"Visa","card_number":"4012001038443335","card_holder_name":"CONSUMIDOR
        OITO","card_expiration_month":"12","card_expiration_year":"2019","card_security_code":"123","card_installments":"23"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=4d34754cd68bbe74d725f6c8c9f6b48f
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"payment_information":{"card_installments":["deve ser menor
        ou igual a 12"]}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/subscriptions/checkout/469ec72f34e3d427f782496452ceae25
  recorded_at: Tue, 09 May 2017 17:55:45 GMT
recorded_with: VCR 3.0.3
