---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127230
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"charge_type":"fixed_day_and_month_quantity","receivables_additional_information":{"id":5356,"month_quantity":""}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"receivables_additional_information.month_quantity":"o valor
        deve ser maior do que zero"}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127230
  recorded_at: Fri, 02 Sep 2016 15:00:50 GMT
recorded_with: VCR 3.0.3
