---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/service_items/57
    body:
      encoding: UTF-8
      string: '{"name":"Service Item Updated","value":450.0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b505501d8536409eeac92ec4f82ff9e7"
    body:
      encoding: UTF-8
      string: '{"service_item":{"id":57,"account_id":32,"name":"Service Item Updated","description":"Description","value":"450.0","unit":"item"}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/service_items/57
  recorded_at: Wed, 21 Sep 2016 18:28:31 GMT
recorded_with: VCR 3.0.3
