---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/people
    body:
      encoding: UTF-8
      string: '{"name":"Nova Pessoa Teste Client Billimatic","cpf":"241.989.473-17","email":"teste@pessoa.com.br","client_since":"16/01/2017"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f7f40fdea4d19b4bfee486157ec6b93"
    body:
      encoding: UTF-8
      string: '{"person":{"id":1592,"account_id":32,"name":"Nova Pessoa Teste Client
        Billimatic","cpf":"24198947317","email":"teste@pessoa.com.br","zipcode":null,"address":null,"number":null,"complement":null,"district":null,"city":null,"state":null,"comments":null,"client_since":"16/01/2017","created_at":"18/01/2017
        08:14:45 -02:00"}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/people
  recorded_at: Wed, 18 Jan 2017 10:14:45 GMT
recorded_with: VCR 3.0.3
