---
http_interactions:
- request:
    method: get
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/8818/invoice_rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c4a76ecb60938b7b6659fbb90f69618"
    body:
      encoding: UTF-8
      string: '{"invoice_rules":[{"id":168132,"contract_id":8818,"issue_date":null,"estimated_issue_date":null,"gross_value":"150.0","payment_value":"150.0","description":"TESTE","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"10/04/2017
        16:30:57 -03:00","management_type":"manual","accrual_date":null,"comments":null,"customer_id":578,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"myfinance_sale_account_id":null,"myfinance_sale_account_name":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":null,"approval_status":"approved","receivables":[],"services":[],"attachments":[],"payment_information":{"id":8918,"payment_method":"billet","cobrato_card_id":"--","card_expiration_month":"--","card_expiration_year":"--","installments":1,"created_at":"13/07/2017
        18:47:14 -03:00"},"additional_information":{"id":7046,"init_date":"2017-04-10","title":"REGRA","period_unit":"monthly","month_quantity":1,"end_date":null,"created_at":"10/04/2017
        16:30:57 -03:00","accrual_month_quantity":"same_month"},"scheduled_updates":[],"receivables_additional_information":{"id":7033,"day_number":1,"parcel_number":null,"invoice_rule_id":168132,"created_at":"2017-04-10T16:30:57.340-03:00","updated_at":"2017-04-10T16:30:57.340-03:00","day_quantity":null,"month_quantity":null,"only_business_days":null}}]}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/8818/invoice_rules
  recorded_at: Thu, 14 Jun 2018 12:27:08 GMT
recorded_with: VCR 3.0.3
