---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/1000/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"additional_information":{"title":"REGRA","init_date":"02/09/2016","month_quantity":6},"gross_value":100.0,"description":"Faturamento","nfe_body":"$DESCRICAO","charge_type":"fixed_day","receivables_additional_information":{"day_number":23}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/1000/invoice_rules
  recorded_at: Fri, 02 Sep 2016 12:48:01 GMT
recorded_with: VCR 3.0.3
