---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6667/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"invoice_template_id":6,"additional_information":{"title":"Regra
        com template de um reajuste alterado","init_date":"2018-12-21"},"scheduled_updates":[{"invoice_template_scheduled_update_id":543,"init_date":"2019-02-10","days_until_update":15,"month_quantity":6,"price_index":"igpm"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=4d34754cd68bbe74d725f6c8c9f6b48f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"208e2cb20ffc553a48b2c0d43d868422"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":185213,"contract_id":6667,"issue_date":null,"estimated_issue_date":null,"gross_value":"64.28","payment_value":"64.28","description":"teste","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"21/12/2018
        08:59:19 -02:00","management_type":"automatic","accrual_date":null,"comments":null,"customer_id":562,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":"","finance_category":"","finance_revenue_center":"","myfinance_sale_account_id":null,"myfinance_sale_account_name":"","cobrato_charge_config_id":null,"cobrato_charge_config_name":"","cobrato_charge_template_id":null,"cobrato_charge_template_name":"","days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":83,"approval_status":"approved","notification_ruler_id":2,"notify_customer":true,"apply_negative_updates":true,"receivables":[],"services":[{"id":247472,"name":"Carteira","description":"","unit_value":"5.75","units":"2.5","value":"14.38"},{"id":247473,"name":"Billimatic","description":"","unit_value":"49.9","units":"1.0","value":"49.9"}],"attachments":[],"payment_information":{"id":29055,"payment_method":"payment_gateway","cobrato_card_id":"--","card_expiration_month":"--","card_expiration_year":"--","installments":1,"created_at":"21/12/2018
        08:59:19 -02:00"},"additional_information":{"id":7754,"init_date":"2018-12-21","title":"Regra
        com template de um reajuste alterado","period_unit":"monthly","month_quantity":12,"end_date":null,"created_at":"21/12/2018
        08:59:19 -02:00","accrual_month_quantity":"same_month"},"scheduled_updates":[{"id":545,"invoice_rule_id":185213,"execution_date":"2019-02-10","month_quantity":6,"price_index":"igpm","created_at":"2018-12-21T08:59:19.357-02:00","updated_at":"2018-12-21T08:59:19.357-02:00","init_date":"2019-02-10","days_until_update":15,"remind_at":"2019-01-26","notified":false,"service_item_id":null,"invoice_template_id":null}],"receivables_additional_information":{"id":7761,"day_number":1,"parcel_number":2,"invoice_rule_id":185213,"created_at":"2018-12-21T08:59:19.358-02:00","updated_at":"2018-12-21T08:59:19.358-02:00","day_quantity":null,"month_quantity":null,"only_business_days":false}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6667/invoice_rules
  recorded_at: Fri, 21 Dec 2018 10:59:19 GMT
recorded_with: VCR 3.0.3
