---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6667/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"invoice_template_id":6,"additional_information":{"title":"Teste
        com modelo completo","init_date":"2018-12-20"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=4d34754cd68bbe74d725f6c8c9f6b48f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ebebd165570b6ee6b5529f1d1d603ce"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":184990,"contract_id":6667,"issue_date":null,"estimated_issue_date":null,"gross_value":"64.28","payment_value":"64.28","description":"teste","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"20/12/2018
        16:56:50 -02:00","management_type":"automatic","accrual_date":null,"comments":null,"customer_id":562,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":"","finance_category":"","finance_revenue_center":"","myfinance_sale_account_id":null,"myfinance_sale_account_name":"","cobrato_charge_config_id":null,"cobrato_charge_config_name":"","cobrato_charge_template_id":null,"cobrato_charge_template_name":"","days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":83,"approval_status":"approved","notification_ruler_id":2,"notify_customer":false,"apply_negative_updates":false,"receivables":[],"services":[{"id":246964,"name":"Carteira","description":"","unit_value":"5.75","units":"2.5","value":"14.38"},{"id":246965,"name":"Billimatic","description":"","unit_value":"49.9","units":"1.0","value":"49.9"}],"attachments":[],"payment_information":{"id":28832,"payment_method":"payment_gateway","cobrato_card_id":"--","card_expiration_month":"--","card_expiration_year":"--","installments":1,"created_at":"20/12/2018
        16:56:50 -02:00"},"additional_information":{"id":7705,"init_date":"2018-12-20","title":"Teste
        com modelo completo","period_unit":"monthly","month_quantity":12,"end_date":null,"created_at":"20/12/2018
        16:56:50 -02:00","accrual_month_quantity":"same_month"},"scheduled_updates":[],"receivables_additional_information":{"id":7712,"day_number":1,"parcel_number":2,"invoice_rule_id":184990,"created_at":"2018-12-20T16:56:50.852-02:00","updated_at":"2018-12-20T16:56:50.852-02:00","day_quantity":null,"month_quantity":null,"only_business_days":false}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6667/invoice_rules
  recorded_at: Thu, 20 Dec 2018 18:56:51 GMT
recorded_with: VCR 3.0.3
