---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6667/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"invoice_template_id":8,"additional_information":{"title":"Regra
        por template incompleto","init_date":"2018-12-21"},"receivables_additional_information":{"day_quantity":7,"parcel_number":2},"gross_value":79.5,"myfinance_sale_account_id":35,"myfinance_sale_account_name":"Boletos"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=4d34754cd68bbe74d725f6c8c9f6b48f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49a637161f6e08ced50be4f2c3411fff"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":185389,"contract_id":6667,"issue_date":null,"estimated_issue_date":null,"gross_value":"79.5","payment_value":"79.5","description":"teste","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"21/12/2018
        10:00:27 -02:00","management_type":"manual","accrual_date":null,"comments":null,"customer_id":562,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":"","finance_category":"","finance_revenue_center":"","myfinance_sale_account_id":35,"myfinance_sale_account_name":"Boletos","cobrato_charge_config_id":null,"cobrato_charge_config_name":"","cobrato_charge_template_id":null,"cobrato_charge_template_name":"","days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":null,"approval_status":"approved","notification_ruler_id":null,"notify_customer":false,"apply_negative_updates":false,"receivables":[],"services":[],"attachments":[],"payment_information":{"id":29231,"payment_method":"billet","cobrato_card_id":"--","card_expiration_month":"--","card_expiration_year":"--","installments":1,"created_at":"21/12/2018
        10:00:27 -02:00"},"additional_information":{"id":7776,"init_date":"2018-12-21","title":"Regra
        por template incompleto","period_unit":"monthly","month_quantity":1,"end_date":null,"created_at":"21/12/2018
        10:00:27 -02:00","accrual_month_quantity":"same_month"},"scheduled_updates":[],"receivables_additional_information":{"id":7783,"day_number":null,"parcel_number":2,"invoice_rule_id":185389,"created_at":"2018-12-21T10:00:27.150-02:00","updated_at":"2018-12-21T10:00:27.150-02:00","day_quantity":7,"month_quantity":null,"only_business_days":true}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6667/invoice_rules
  recorded_at: Fri, 21 Dec 2018 12:00:28 GMT
recorded_with: VCR 3.0.3
