---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/9545/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"additional_information":{"title":"REGRA","init_date":"2017-06-05","period_unit":"monthly","month_quantity":1,"end_date":"2022-06-04"},"gross_value":100.0,"description":"Faturamento","nfe_body":"$DESCRICAO","charge_type":"fixed_day","receivables_additional_information":{"day_number":23}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3103876be3e9d2e7bf38b505809b95c"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":178624,"contract_id":9545,"issue_date":null,"estimated_issue_date":null,"gross_value":"100.0","payment_value":"100.0","description":"Faturamento","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"20/04/2018
        09:06:27 -03:00","management_type":"manual","accrual_date":null,"comments":null,"customer_id":574,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"myfinance_sale_account_id":null,"myfinance_sale_account_name":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":null,"approval_status":"approved","receivables":[],"services":[],"attachments":[],"payment_information":{"id":20241,"payment_method":"billet","cobrato_card_id":"--","card_expiration_month":"--","card_expiration_year":"--","installments":1,"created_at":"20/04/2018
        09:06:27 -03:00"},"additional_information":{"id":7429,"init_date":"2017-06-05","title":"REGRA","period_unit":"monthly","month_quantity":1,"end_date":"2022-06-04","created_at":"20/04/2018
        09:06:27 -03:00","accrual_month_quantity":"same_month"},"scheduled_updates":[],"receivables_additional_information":{"id":7429,"day_number":23,"parcel_number":null,"invoice_rule_id":178624,"created_at":"2018-04-20T09:06:27.113-03:00","updated_at":"2018-04-20T09:06:27.113-03:00","day_quantity":null,"month_quantity":null,"only_business_days":false}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/9545/invoice_rules
  recorded_at: Fri, 20 Apr 2018 12:06:38 GMT
recorded_with: VCR 3.0.3
