---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"additional_information":{"title":"REGRA","init_date":"02/09/2016","month_quantity":6},"gross_value":100.0,"description":"Faturamento","nfe_body":"$DESCRICAO","charge_type":"fixed_day","receivables_additional_information":{"day_number":23}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8b21ae20830f74cac53d2a5626dd7c7"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":144091,"contract_id":6666,"gross_value":"100.0","number":null,"issue_date":null,"state":0,"description":"Faturamento","nfe_service":null,"nfe_verification":null,"created_at":"19/09/2016
        17:03:25 -03:00","payment_value":"100.0","emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"nfe_body":"$DESCRICAO","services":[],"attachments":[],"additional_information":{"id":6074,"init_date":"2016-09-02","title":"REGRA","month_quantity":6,"end_date":null,"rulable_id":144091,"created_at":"2016-09-19T17:03:25.817-03:00","updated_at":"2016-09-19T17:03:25.817-03:00","rulable_type":"Invoice","accrual_month_quantity":"same_month"},"scheduled_update":null,"receivables_additional_information":{"id":6063,"day_number":23,"parcel_number":null,"invoice_rule_id":144091,"created_at":"2016-09-19T17:03:25.819-03:00","updated_at":"2016-09-19T17:03:25.819-03:00","day_quantity":null,"month_quantity":null}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules
  recorded_at: Mon, 19 Sep 2016 20:03:26 GMT
recorded_with: VCR 3.0.3
