---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"additional_information":{"title":"REGRA","init_date":"02/09/2016","month_quantity":6},"gross_value":100.0,"description":"Faturamento","nfe_body":"$DESCRICAO","charge_type":"day_quantity","receivables_additional_information":{"day_number":null,"day_quantity":3}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e74931cb4dc58a8b4416f45a4e334678"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":127206,"contract_id":6666,"gross_value":"100.0","number":null,"issue_date":null,"state":0,"description":"Faturamento","nfe_service":null,"nfe_verification":null,"created_at":"02/09/2016
        11:07:09 -03:00","payment_value":"100.0","emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"nfe_body":"$DESCRICAO","services":[],"attachments":[],"additional_information":{"id":5361,"init_date":"2016-09-02","title":"REGRA","month_quantity":6,"end_date":null,"rulable_id":127206,"created_at":"2016-09-02T11:07:09.654-03:00","updated_at":"2016-09-02T11:07:09.654-03:00","rulable_type":"Invoice","accrual_month_quantity":"same_month"},"scheduled_update":null,"receivables_additional_information":{"id":5352,"day_number":null,"parcel_number":null,"invoice_rule_id":127206,"created_at":"2016-09-02T11:07:09.657-03:00","updated_at":"2016-09-02T11:07:09.657-03:00","day_quantity":3,"month_quantity":null}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules
  recorded_at: Fri, 02 Sep 2016 14:07:10 GMT
recorded_with: VCR 3.0.3
