---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts
    body:
      encoding: UTF-8
      string: '{"name":"Person purchase contract","title":"The new contract","supplier_id":1194,"supplier_type":"Person","customer_id":564,"customer_type":"Company","kind":"purchase"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fd503a814812d0a37110b972997b07e"
    body:
      encoding: UTF-8
      string: '{"contract":{"id":8127,"name":"Person purchase contract","title":"The
        new contract","token":null,"description":null,"customer_id":564,"customer_type":"Company","supplier_id":1194,"supplier_type":"Person","state":"active","comments":null,"init_date":null,"end_date":null,"created_at":"26/09/2016
        10:55:56 -03:00","kind":"purchase","registration_method":"regular","overdue":false,"valid_until":null,"status":null,"plan":null}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts
  recorded_at: Mon, 26 Sep 2016 13:55:56 GMT
recorded_with: VCR 3.0.3
