---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts
    body:
      encoding: UTF-8
      string: '{"name":"Person sale contract","title":"The new contract","supplier_id":564,"supplier_type":"Company","customer_id":1194,"customer_type":"Person"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a15daaf25be1e5b7e46c7abde0b1a75"
    body:
      encoding: UTF-8
      string: '{"contract":{"id":7393,"name":"Person sale contract","title":"The new
        contract","token":null,"description":null,"customer_id":1194,"customer_type":"Person","supplier_id":564,"supplier_type":"Company","state":1,"comments":null,"init_date":null,"end_date":null,"created_at":"19/09/2016
        12:14:37 -03:00","kind":"sale","registration_method":"regular","overdue":false,"valid_until":null,"status":null,"plan":null}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts
  recorded_at: Mon, 19 Sep 2016 15:14:37 GMT
recorded_with: VCR 3.0.3
