---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/7392/invoices
    body:
      encoding: UTF-8
      string: '{"invoice":{"gross_value":100.0,"issue_date":"2016-09-19","description":"FATURAMENTO","receivables":[{"due_date":"2016-10-01"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/7392/invoices
  recorded_at: Mon, 19 Sep 2016 19:25:55 GMT
recorded_with: VCR 3.0.3
