---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/7392
    body:
      encoding: UTF-8
      string: '{"name":"Novo Contrato"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38915c9a310cea21adbcc23b8d8fa2e9"
    body:
      encoding: UTF-8
      string: '{"contract":{"id":7392,"name":"Novo Contrato","title":"The new contract","token":null,"description":null,"customer_id":578,"customer_type":"Company","supplier_id":564,"supplier_type":"Company","state":1,"comments":null,"init_date":null,"end_date":null,"created_at":"19/09/2016
        12:07:43 -03:00","kind":"sale","registration_method":"regular","overdue":false,"valid_until":null,"status":null,"plan":null}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/7392
  recorded_at: Mon, 19 Sep 2016 16:31:43 GMT
recorded_with: VCR 3.0.3
