---
http_interactions:
- request:
    method: get
    uri: https://sandbox.billimatic.com.br/api/v1/organizations/564/contracts/6666
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b03adfc63d22ba60f9a6930ac2d5e57"
    body:
      encoding: UTF-8
      string: '{"contract":{"id":6666,"name":"Contrato de Teste Para o CLIENT","title":"Contrato
        de Teste","token":"2151d047b78a7bd5eb81e676783b0b17","description":"","customer_id":574,"customer_type":"Company","supplier_id":564,"supplier_type":"Company","state":"active","comments":"","init_date":null,"end_date":"27/09/2016","created_at":"02/09/2016
        10:37:37 -03:00","kind":"sale","overdue":true,"valid_until":"23/09/2016","status":"established","registration_method":"regular","cobrato_payment_gateway_charge_config_id":null,"cobrato_payment_gateway_charge_config_name":null,"cancel_date":null,"cancel_reason":null,"plan":null}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/organizations/564/contracts/6666
  recorded_at: Wed, 27 Dec 2017 11:29:44 GMT
recorded_with: VCR 3.0.3
