---
http_interactions:
- request:
    method: get
    uri: https://sandbox.billimatic.com.br/api/v1/organizations/564/contracts/9224
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90fad9084013b1d195d0949a0dde9a98"
    body:
      encoding: UTF-8
      string: '{"contract":{"id":9224,"name":"Contrato de Teste III","title":"Contrato
        de Teste","token":"dcf0463cfd868ca2557f69d950afe09c","description":"","customer_id":574,"customer_type":"Company","supplier_id":564,"supplier_type":"Company","state":"inactive","comments":"","init_date":null,"end_date":null,"created_at":"27/12/2017
        09:30:40 -02:00","kind":"sale","overdue":false,"valid_until":null,"status":"established","registration_method":"regular","cobrato_payment_gateway_charge_config_id":null,"cobrato_payment_gateway_charge_config_name":null,"cancel_date":"27/12/2017","cancel_reason":"teste
        para o client","plan":null}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/organizations/564/contracts/9224
  recorded_at: Wed, 27 Dec 2017 11:31:33 GMT
recorded_with: VCR 3.0.3
