---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices
    body:
      encoding: UTF-8
      string: '{"invoice":{"gross_value":100.0,"issue_date":"2016-09-19","description":"FATURAMENTO","nfe_body":"FATURAMENTO","receivables":[{"due_date":"2016-10-01"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77ec074879a6e11dfe3a57c24083d891"
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":144097,"contract_id":6666,"gross_value":"100.0","number":null,"issue_date":"19/09/2016","state":0,"description":"FATURAMENTO","nfe_service":null,"nfe_verification":null,"created_at":"19/09/2016
        17:08:45 -03:00","payment_value":"100.0","emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"services":[],"attachments":[]}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices
  recorded_at: Mon, 19 Sep 2016 20:08:45 GMT
recorded_with: VCR 3.0.3
