---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/people/1592
    body:
      encoding: UTF-8
      string: '{"email":"teste-pessoa-fisica@teste.com.br"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c5faef3a2cbbb64de4c55eb68b71723"
    body:
      encoding: UTF-8
      string: '{"person":{"id":1592,"account_id":32,"name":"Nova Pessoa Teste Client
        Billimatic","cpf":"24198947317","email":"teste-pessoa-fisica@teste.com.br","zipcode":null,"address":null,"number":null,"complement":null,"district":null,"city":null,"state":null,"comments":null,"client_since":"16/01/2017","created_at":"18/01/2017
        08:14:45 -02:00"}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/people/1592
  recorded_at: Wed, 18 Jan 2017 10:18:21 GMT
recorded_with: VCR 3.0.3
