---
http_interactions:
- request:
    method: get
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/8818/invoices/search?issue_date_from=10-05-2017&issue_date_to=10-08-2017
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07bf9554ae286d0811e4dd6913c3d93b"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":168134,"contract_id":8818,"issue_date":"10/05/2017","gross_value":"150.0","payment_value":"150.0","description":"TESTE","state":"to_emit","nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"10/04/2017
        16:30:57 -03:00","management_type":"manual","accrual_date":"2017-05-01","comments":null,"customer_id":578,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"receivables":[{"id":164146,"invoice_id":168134,"due_date":"01/06/2017","value":"100.0","gross_value":"150.0","payment_value":"150.0","received_value":null,"received_at":null,"created_at":"10/04/2017
        16:30:57 -03:00","state":"to_emit","payment_gateway_status":null,"cobrato_charge_id":null,"cobrato_errors":null,"finance_receivable_id":null,"finance_entity_id":null,"finance_errors":null}],"services":[],"attachments":[]},{"id":168135,"contract_id":8818,"issue_date":"10/06/2017","gross_value":"150.0","payment_value":"150.0","description":"TESTE","state":"to_emit","nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"10/04/2017
        16:30:57 -03:00","management_type":"manual","accrual_date":"2017-06-01","comments":null,"customer_id":578,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,[...]
