---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/170614
    body:
      encoding: UTF-8
      string: '{"invoice":{"approval_status":"blocked"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ee810a2af2b06fa371d0c2c625f58a4"
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":170614,"contract_id":6666,"issue_date":"02/09/2016","gross_value":"100.0","payment_value":"100.0","description":"Faturamento","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"09/06/2017
        15:22:39 -03:00","management_type":"manual","accrual_date":"2016-09-01","comments":null,"customer_id":574,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":null,"approval_status":"approved","receivables":[{"id":166945,"invoice_id":170614,"due_date":"23/09/2016","value":"100.0","gross_value":"100.0","payment_value":"100.0","received_value":null,"received_at":null,"created_at":"09/06/2017
        15:22:39 -03:00","state":"to_emit","payment_gateway_status":null,"cobrato_charge_id":null,"cobrato_errors":null,"finance_receivable_id":null,"finance_entity_id":null,"finance_errors":null}],"services":[],"attachments":[]}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/170614
  recorded_at: Tue, 13 Jun 2017 20:10:25 GMT
recorded_with: VCR 3.0.3
