---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/service_items
    body:
      encoding: UTF-8
      string: '{"name":"New Service Item","value":200.0,"description":"Description"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae384315f2c0732c877433c3cbc1bb4a"
    body:
      encoding: UTF-8
      string: '{"service_item":{"id":57,"account_id":32,"name":"New Service Item","description":"Description","value":"200.0","unit":"item"}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/service_items
  recorded_at: Wed, 21 Sep 2016 18:20:20 GMT
recorded_with: VCR 3.0.3
