---
http_interactions:
- request:
    method: get
    uri: https://sandbox.billimatic.com.br/api/v1/companies/search?cnpj=81644331000166
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"faa11e8d844a51cf769582b65baa6e61"
    body:
      encoding: UTF-8
      string: '{"companies":[{"id":565,"account_id":32,"name":"Empresa Zero Um","company_name":"Emp
        01","cnpj":"81.644.331/0001-66","address":"","number":"","zipcode":"","district":"","complement":"","city":"","state":"","ibge_code":"","contacts":"","billing_contacts":"","kind":"company","comments":"","created_at":"07/04/2016
        16:55:18 -03:00"}]}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/companies/search?cnpj=81644331000166
  recorded_at: Tue, 03 May 2016 15:22:06 GMT
recorded_with: VCR 3.0.1
