---
http_interactions:
- request:
    method: post
    uri: https://sandbox.billimatic.com.br/api/v1/contracts
    body:
      encoding: UTF-8
      string: '{"name":"newcontract","title":"The new contract","kind":"sale","supplier_id":564,"supplier_type":"Company","customer_id":1000,"customer_type":"Company"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts
  recorded_at: Mon, 19 Sep 2016 14:52:45 GMT
recorded_with: VCR 3.0.3
