---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/168525
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"management_type":"manual","days_until_automatic_nfe_emission":0,"automatic_email_template_id":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f55f3b31e6e81c3db8a73e264b6b68a"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":168525,"contract_id":6666,"issue_date":null,"gross_value":"100.0","payment_value":null,"description":"Faturamento","state":"to_emit","nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"27/04/2017
        09:13:23 -03:00","management_type":"manual","accrual_date":null,"comments":null,"customer_id":574,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":0,"receivables":[],"services":[],"attachments":[],"additional_information":{"id":7061,"init_date":"2016-09-02","title":"REGRA","month_quantity":6,"end_date":null,"rulable_id":168525,"created_at":"2017-04-27T09:13:23.642-03:00","updated_at":"2017-04-27T09:13:23.642-03:00","rulable_type":"Invoice","accrual_month_quantity":"same_month"},"scheduled_update":null,"receivables_additional_information":{"id":7048,"day_number":23,"parcel_number":null,"invoice_rule_id":168525,"created_at":"2017-04-27T09:13:23.646-03:00","updated_at":"2017-04-27T09:13:23.646-03:00","day_quantity":null,"month_quantity":null,"only_business_days":false}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/168525
  recorded_at: Thu, 27 Apr 2017 12:17:48 GMT
recorded_with: VCR 3.0.3
