---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127230
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"scheduled_update":{"will_be_created":"true","price_index":"ipca","init_date":"02/10/2016","month_quantity":12,"days_until_update":5}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d3de5aaf3d999ce17c02fd35df714923"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":127230,"contract_id":6666,"gross_value":"300.0","number":null,"issue_date":null,"state":0,"description":"Faturamento","nfe_service":null,"nfe_verification":null,"created_at":"02/09/2016
        11:26:12 -03:00","payment_value":"300.0","emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"nfe_body":"$DESCRICAO","services":[{"id":183069,"name":"Aluguel
        do PSOffice","unit_value":"150.0","units":"2.0","value":"300.0"}],"attachments":[],"additional_information":{"id":5365,"init_date":"2016-09-02","title":"NOVA
        REGRA","month_quantity":1,"end_date":null,"rulable_id":127230,"created_at":"2016-09-02T11:26:12.000-03:00","updated_at":"2016-09-02T12:24:33.000-03:00","rulable_type":"Invoice","accrual_month_quantity":"same_month"},"scheduled_update":{"id":97,"invoice_rule_id":127230,"execution_date":"2016-10-02","month_quantity":12,"price_index":"ipca","created_at":"2016-09-02T12:33:02.716-03:00","updated_at":"2016-09-02T12:33:02.716-03:00","init_date":"2016-10-02","days_until_update":5,"remind_at":"2016-09-27","notified":false},"receivables_additional_information":{"id":5356,"day_number":25,"parcel_number":2,"invoice_rule_id":127230,"created_at":"2016-09-02T11:26:12.000-03:00","updated_at":"2016-09-02T12:27:54.000-03:00","day_quantity":null,"month_quantity":null}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127230
  recorded_at: Fri, 02 Sep 2016 15:33:02 GMT
[...]
