---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127224
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"services":[{"service_item_id":1,"units":2,"unit_value":100.0,"value":200.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"74a218f8cf2d941c9ddf46d8dfff7528"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":127224,"contract_id":6666,"gross_value":"200.0","number":null,"issue_date":null,"state":0,"description":"Faturamento","nfe_service":null,"nfe_verification":null,"created_at":"02/09/2016
        11:18:54 -03:00","payment_value":null,"emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"nfe_body":"$DESCRICAO","services":[{"id":183105,"name":"Aluguel
        do PSOffice","unit_value":"100.0","units":"2.0","value":"200.0"}],"attachments":[],"additional_information":{"id":5364,"init_date":"2016-09-02","title":"REGRA","month_quantity":6,"end_date":null,"rulable_id":127224,"created_at":"2016-09-02T11:18:54.000-03:00","updated_at":"2016-09-02T11:18:54.000-03:00","rulable_type":"Invoice","accrual_month_quantity":"same_month"},"scheduled_update":{"id":99,"invoice_rule_id":127224,"execution_date":"2016-10-02","month_quantity":1,"price_index":"igpm","created_at":"2016-09-02T12:38:04.000-03:00","updated_at":"2016-09-02T12:39:00.000-03:00","init_date":"2016-10-02","days_until_update":2,"remind_at":"2016-09-30","notified":false},"receivables_additional_information":{"id":5355,"day_number":23,"parcel_number":null,"invoice_rule_id":127224,"created_at":"2016-09-02T11:18:54.000-03:00","updated_at":"2016-09-02T11:18:54.000-03:00","day_quantity":null,"month_quantity":null}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127224
  recorded_at: Fri, 02 Sep 2016 15:42:07 GMT
recorded_with: VCR 3.0.3
