---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/170829
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"additional_information":{"id":7117,"month_quantity":null,"period_unit":"weekly","title":"weekly
        rule"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7d50717fbbc7dfa73da91022cbc97a5"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":170829,"contract_id":6666,"issue_date":null,"gross_value":"100.0","payment_value":"100.0","description":"Faturamento","state":"to_emit","cancelled_automatically":false,"nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"$DESCRICAO","nfe_issued":false,"number":null,"created_at":"12/06/2017
        10:22:27 -03:00","management_type":"manual","accrual_date":null,"comments":null,"customer_id":574,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"days_until_automatic_nfe_emission":0,"automatic_nfe_issue_date":null,"automatic_email_template_id":null,"approval_status":"approved","receivables":[],"services":[],"attachments":[],"additional_information":{"id":7117,"init_date":"2017-06-05","title":"weekly
        rule","period_unit":"weekly","month_quantity":null,"end_date":"2018-07-07","created_at":"12/06/2017
        10:22:27 -03:00","accrual_month_quantity":"same_month"},"scheduled_update":null,"receivables_additional_information":{"id":7102,"day_number":23,"parcel_number":null,"invoice_rule_id":170829,"created_at":"2017-06-12T10:22:27.885-03:00","updated_at":"2017-06-12T10:22:27.885-03:00","day_quantity":null,"month_quantity":null,"only_business_days":false}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/170829
  recorded_at: Mon, 12 Jun 2017 13:56:04 GMT
recorded_with: VCR 3.0.3
