---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127194
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"gross_value":300.0,"description":"Faturamento novo"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5f4020dfe7a26df5a60a004770897ab4"
    body:
      encoding: UTF-8
      string: '{"invoice_rule":{"id":127194,"contract_id":6666,"gross_value":"300.0","number":null,"issue_date":null,"state":0,"description":"Faturamento
        novo","nfe_service":null,"nfe_verification":null,"created_at":"02/09/2016
        10:39:31 -03:00","payment_value":null,"emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"nfe_body":"$DESCRICAO","services":[],"attachments":[],"additional_information":{"id":5359,"init_date":"2016-09-02","title":"REGRA","month_quantity":6,"end_date":null,"rulable_id":127194,"created_at":"2016-09-02T10:39:31.000-03:00","updated_at":"2016-09-02T10:39:31.000-03:00","rulable_type":"Invoice","accrual_month_quantity":"same_month"},"scheduled_update":null,"receivables_additional_information":{"id":5350,"day_number":23,"parcel_number":null,"invoice_rule_id":127194,"created_at":"2016-09-02T10:39:31.000-03:00","updated_at":"2016-09-02T10:39:31.000-03:00","day_quantity":null,"month_quantity":null}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoice_rules/127194
  recorded_at: Fri, 02 Sep 2016 15:21:26 GMT
recorded_with: VCR 3.0.3
