---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.billimatic.com.br/api/v1/subscriptions/dbf0f7e76ab8eb455942db1b7043d9b3/update_payment_information
    body:
      encoding: UTF-8
      string: '{"subscription":{"payment_information":{"type":"payment_gateway","card_brand":"Visa","card_number":"4012001037141112","card_holder_name":"PRE
        PAGO TESTE","card_expiration_month":"12","card_expiration_year":"2021","card_security_code":"123","card_installments":23}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=4d34754cd68bbe74d725f6c8c9f6b48f
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"payment_information":{"card_installments":["deve ser menor
        ou igual a 12"]}}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/subscriptions/dbf0f7e76ab8eb455942db1b7043d9b3/update_payment_information
  recorded_at: Tue, 09 May 2017 18:18:31 GMT
recorded_with: VCR 3.0.3
