---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/168538
    body:
      encoding: UTF-8
      string: '{"invoice":{"automatic_email_template_id":2}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e6f8f4bad07f0587ce50b0ad3047a20"
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":168538,"contract_id":6666,"issue_date":"19/09/2016","gross_value":"100.0","payment_value":"100.0","description":"FATURAMENTO","state":"to_emit","nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"FATURAMENTO","nfe_issued":false,"number":null,"created_at":"27/04/2017
        09:24:53 -03:00","management_type":"automatic","accrual_date":null,"comments":null,"customer_id":574,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"cobrato_charge_template_id":null,"cobrato_charge_template_name":null,"days_until_automatic_nfe_emission":3,"automatic_nfe_issue_date":null,"automatic_email_template_id":2,"receivables":[{"id":164559,"invoice_id":168538,"due_date":"01/10/2016","value":"100.0","gross_value":"100.0","payment_value":"100.0","received_value":null,"received_at":null,"created_at":"27/04/2017
        09:24:53 -03:00","state":"to_emit","payment_gateway_status":null,"cobrato_charge_id":null,"cobrato_errors":null,"finance_receivable_id":null,"finance_entity_id":null,"finance_errors":null}],"services":[],"attachments":[]}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/168538
  recorded_at: Thu, 27 Apr 2017 12:26:53 GMT
recorded_with: VCR 3.0.3
