---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/144097
    body:
      encoding: UTF-8
      string: '{"invoice":{"receivables":[{"id":140248,"value":50.0},{"id":140252,"value":50.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0bf0d6d9c71bb61046f02d8cfbdc8bdc"
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":144097,"contract_id":6666,"gross_value":"100.0","number":null,"issue_date":"01/10/2016","state":0,"description":"Novo
        faturamento","nfe_service":null,"nfe_verification":null,"created_at":"19/09/2016
        17:08:45 -03:00","payment_value":"100.0","emites_service_values_id":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"nfe_issued":false,"nfe_issue_date":null,"cobrato_charge_config_id":null,"services":[],"attachments":[]}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/144097
  recorded_at: Mon, 19 Sep 2016 20:54:35 GMT
recorded_with: VCR 3.0.3
