---
http_interactions:
- request:
    method: put
    uri: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/144097
    body:
      encoding: UTF-8
      string: '{"invoice":{"receivables":[{"id":156067,"value":50.0},{"id":140252,"value":50.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bfe97f701f615edf41587cbd59d6a0e8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c41abbb124312bf555e426b573285edb"
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":144097,"contract_id":6666,"issue_date":"01/10/2016","gross_value":"300.0","payment_value":"300.0","description":"Novo
        faturamento","state":"to_emit","nfe_service":null,"nfe_verification":null,"nfe_issue_date":null,"nfe_body":"FATURAMENTO","nfe_issued":false,"number":null,"created_at":"19/09/2016
        17:08:45 -03:00","accrual_date":null,"comments":null,"customer_id":574,"customer_type":"Company","emites_service_values_id":null,"emites_service_value_name":null,"finance_category":null,"finance_revenue_center":null,"finance_receive_via":null,"cobrato_charge_config_id":null,"cobrato_charge_config_name":null,"receivables":[{"id":156067,"invoice_id":144097,"due_date":"01/11/2016","value":"50.0","gross_value":"150.0","payment_value":"150.0","received_value":null,"received_at":null,"created_at":"26/09/2016
        10:27:24 -03:00","state":"to_emit","payment_gateway_status":null,"cobrato_charge_id":null,"cobrato_errors":null,"finance_receivable_id":null,"finance_entity_id":null,"finance_errors":null},{"id":140252,"invoice_id":144097,"due_date":"01/11/2016","value":"50.0","gross_value":"150.0","payment_value":"150.0","received_value":null,"received_at":null,"created_at":"19/09/2016
        17:40:54 -03:00","state":"to_emit","payment_gateway_status":null,"cobrato_charge_id":null,"cobrato_errors":null,"finance_receivable_id":null,"finance_entity_id":null,"finance_errors":null}],"services":[],"attachments":[]}}'
      effective_url: https://sandbox.billimatic.com.br/api/v1/contracts/6666/invoices/144097
  recorded_at: Mon, 26 Sep 2016 13:30:30 GMT
recorded_with: VCR 3.0.3
